.choresText {
   color: purple;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: italic;
}

.choresHeading {
   color: plum;
   text-decoration: underline;
}